@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 8.5in;
    height: 11in;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: auto;
    }
}

@media print {
    body {
        width: 100%;
        height: auto;
    }

    @page {
        size: letter;
        margin: 0;
    }
}
